[submodule "filters/getItByThat"]
	path = filters/getItByThat
	url = y:/git/angular-filters/getItByThat
[submodule "filters/spcToHyphen"]
	path = filters/spcToHyphen
	url = y:/git/angular_filters/spcToHyphen
[submodule "filters/encode"]
	path = filters/encode
	url = y:/git/angular_filters/encode
[submodule "filters/dateRange"]
	path = filters/dateRange
	url = y:/git/angular_filters/dateRange
