<h2>DIRECTV vs Competitive Streaming Services</h2>
<div>
    <label ng-repeat="vs in versus" for="check-{{vs.service}}"><input type="checkbox" ng-model="selChecks.services[vs.service]" name="group" id="check-{{vs.service}}" ng-disabled="vs.service === 'DIRECTV'">&nbsp;{{vs.service}}</label>
</div>
<table>
    <thead>
        <tr>
            <th class="corner"></th>
            <th ng-repeat="vs in versus" ng-show="selChecks.services[vs.service]">{{vs.service}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Price</th><td ng-repeat="vs in versus" ng-show="selChecks.services[vs.service]">{{vs.price}}</td>
        </tr>
        <tr>
            <th>Max Simultaneous Streaming Devices</th><td ng-repeat="vs in versus" ng-show="selChecks.services[vs.service]">{{vs.simDevices}}</td>
        </tr>
        <tr>
            <th>Live Programming</th><td ng-repeat="vs in versus" ng-show="selChecks.services[vs.service]"><span ng-if="vs.live">Yes</span><span ng-if="!vs.live">No</span></td>
        </tr>
        <tr>
            <th>Sports</th><td ng-repeat="vs in versus" ng-show="selChecks.services[vs.service]"><span ng-if="vs.sports">Yes</span><span ng-if="!vs.sports">No</span></td>
        </tr>
        <tr>
            <th>Internet Connection Required At All Times</th><td ng-repeat="vs in versus" ng-show="selChecks.services[vs.service]"><span ng-if="vs.connection">Yes</span><span ng-if="!vs.connection">No</span></td>
        </tr>
    </tbody>
</table>
<p>More more detailed competitive information, visit the Competitive Information Center Tool on Agent Answer Center:
    <br />CIC Tool <a href="https://cicsales.getdirectv.com/" target="_blank"><strong>(New Customers)</strong></a>
    <br />CIC Tool <a href="https://cic.getdirectv.com/" target="_blank"><strong>(Existing Customers)</strong></a>
</p>