<div id="calendar">
    <div class="nav">
        <select ng-model="premSel" ng-options="calendar.premium as (calendar.premium | getById:data.premiums) for calendar in data.calendars | unique: 'premium' | orderBy: 'premium'">
            <option value="">All Premiums</option>
        </select>
        <select ng-model="genSel" ng-options="genre for genre in genres | unique: 'genre' | orderBy: 'toString()'">
            <option value="">All Genres</option>
        </select>
        <select ng-model="typeSel">
            <option value="">All Programming</option>
            <option value="Movies">Movies</option>
            <option value="Series">Series</option>
        </select>
        <select ng-model="chanSel" ng-options="calendar.chanNum as (calendar.chanName + ' &ndash; ' + calendar.chanNum) group by (calendar.premium | getById:data.premiums) for calendar in data.calendars | unique: 'chanNum' | orderBy: 'chanNum'">
            <option value="">All Channels</option>
        </select>
    </div>
    <div class="nav">
        <input ng-model="search.$" /><a href ng-show="search.$" ng-click="search = null">(x)</a><br />
        <input type="date" ng-model="rangeStart" datepicker />
        <input type="date" ng-model="rangeEnd" min="{{rangeStart | date:'yyyy-MM-dd'}}" datepicker />{{rangeStart}}
        <span ng-if="premSel">{{premSel | getById:data.premiums}} <a href ng-click="aParam('premium', null)">(x)</a></span>
        <span ng-if="genSel">{{genSel}} <a href ng-click="aParam('genre', null)">(x)</a></span>
        <span ng-if="typeSel">{{typeSel}} <a href ng-click="aParam('type', null)">(x)</a></span>
        <span ng-if="chanSel">{{chanSel}} <a href ng-click="aParam('channel', null)">(x)</a></span>
    </div>
    <div class="program" ng-repeat="calendar in data.calendars |
    filter:search |
    filter:{premium: premSel || undefined} |
    filter:{genres: genSel || undefined} |
    filter:{chanNum: chanSel || undefined} |
    progType:typeSel |
    dateRange:rangeStart:rangeEnd |
    orderBy: 'premDate'">
        <a href ng-click="aParam('program', calendar.program)"><img ng-src="//placeholdit.imgix.net/~text?txtsize=25&txt={{calendar.program}}&w=160&h=90&txttrack=2" width="160" height="90" /></a>
        <br /><a href ng-click="aParam('program', calendar.program)" ng-bind="calendar.program"></a>
        <br /><a href ng-click="aParam('premium', calendar.premium, 'getById', data.premiums)" ng-bind="calendar.premium | getById:data.premiums"></a>
        <br /><a href ng-click="aParam('channel', calendar.chanNum)">{{calendar.chanName}} &ndash; {{calendar.chanNum}}</a>
        <br />{{calendar.premDate | date:'MMM d'}} &ndash; {{calendar.premTime}}
        <br /><a href ng-repeat-start="genre in calendar.genres" ng-click="aParam('genre', genre)" ng-bind="genre"></a><span ng-if="!$last" ng-repeat-end>, </span>
    </div>
</div>
<div class="modal" ng-if="progSel" ng-repeat="calendar in data.calendars |
    filter:{program: progSel}">
    <a href ng-click="aParam('program', null)">(x)</a>
    <br />{{calendar.program}}
    <br><a href ng-click="aParam('premium', calendar.premium, 'getById', data.premiums)" ng-bind="calendar.premium | getById:data.premiums"></a>
    <br>{{calendar.premDate | date:'MMM d'}} &ndash; {{calendar.premTime}}
    <br><a href ng-click="aParam('channel', calendar.chanNum); aParam('program', null)">{{calendar.chanName}} &ndash; {{calendar.chanNum}}</a>
    <br><a href ng-repeat-start="genre in calendar.genres" ng-click="aParam('genre', genre)" ng-bind="genre"></a><span ng-if="!$last" ng-repeat-end>, </span>
</div>