<div id="calendar">
    <div class="nav">
        <select ng-model="premSel" ng-options="calendar.premium as (calendar.premium | getById:data.premiums) for calendar in data.calendars | unique: 'premium' | orderBy: 'premium'">
            <option value="">All Premiums</option>
        </select>
        <select ng-model="genSel" ng-options="genre for genre in genres | unique: 'genre' | orderBy: 'toString()'">
            <option value="">All Genres</option>
        </select>
        <select ng-model="typeSel">
            <option value="">All Programming</option>
            <option value="movies">Movies</option>
            <option value="series">Series</option>
        </select>
    </div>
    <div class="nav">
        <input ng-model="search.$" /><br />
        <input type="date" ng-model="rangeStart" />
        <input ng-hide="!rangeStart" type="date" ng-model="rangeEnd" />
        <span ng-if="premSel">{{premSel | getById:data.premiums}} <a href ng-click="aParam('premium', null)">(x)</a></span>
        <span ng-if="genSel">{{genSel}} <a href ng-click="aParam('genre', null)">(x)</a></span>
    </div>
    <div class="program" ng-repeat="calendar in data.calendars |
    filter:search |
    filter:{premium: premSel || undefined} |
    filter:{genres: genSel || undefined} |
    progType:typeSel |
    dateRange:rangeStart:rangeEnd |
    orderBy: 'premDate'">
        <img ng-src="//placeholdit.imgix.net/~text?txtsize=25&txt={{calendar.program}}&w=160&h=90&txttrack=2" width="160" height="90" />
        <br />{{calendar.program}}
        <br /><a href ng-click="aParam('premium', calendar.premium, 'getById', data.premiums)" ng-bind="calendar.premium | getById:data.premiums"></a>
        <br />{{calendar.chanName}} &ndash; {{calendar.chanNum}}
        <br />{{calendar.premDate | date:'mediumDate'}}
        <br /><a href ng-repeat-start="genre in calendar.genres" ng-click="aParam('genre', genre)" ng-bind="genre"></a><span ng-if="!$last" ng-repeat-end>, </span>
    </div>
</div>