<div ng-repeat="premium in data.premiums | filter:{url: (prem.params.premName | lowercase | spcToHyphen)}">
    <div class="nav" id="sub">
        <a ng-repeat="sub in premium.subs" href="#/{{premium.name | lowercase | spcToHyphen}}/{{sub | getById:data.subtabs | lowercase | spcToHyphen}}">{{sub | getById:data.subtabs}}</a>
    </div>
    <div ng-include="'playing.htm'" class="grid__item one-eighth" id="playing"></div><!--
 --><div class="grid__item seven-eighths">
      <div ng-if="prem.params.subName === 'overview'" class="grid__item" id="photos">
        <div><!--
       --><div class="grid__item"><img src="hbo1.jpg" alt="" /></div><!--
       --><div class="grid__item"><img src="hbo2.jpg" alt="" /></div><!--
       --><div class="grid__item"><img src="hbo3.jpg" alt="" /></div><!--
     --></div>
    </div><!--
   --><div class="grid__item one-seventh" id="aside">
          <img ng-src="img/{{premium.name | lowercase | spcToHyphen}}-logo.png" />
          <div class="info">
              <div class="price">${{premium.price}}</div>
              <a href="#/{{prem.params.premName}}/channels">
                  <ul>
                      <li>{{premium.channels.length}} Channels</li>
                      <li>{{HD = (premium.channels | filter:{HD: true, SD: false}).length}} HD Only</li>
                      <li>{{SD = (premium.channels | filter:{HD: false, SD: true}).length}} SD Only</li>
                      <li>{{SDHD = (premium.channels | filter:{HD: true, SD: true}).length}} SD/HD</li>
                  </ul>
              </a>
          </div>
          <div class="info ondemand">
              {{premium.name}} DIRECTV On&nbsp;Demand Ch:&nbsp;{{premium.ODchan}}
          </div>
      </div><!--
   --><div ng-if="(prem.params.subName !== 'channels') && (prem.params.subName !== 'streaming')" ng-include="'selling.htm'" id="selling" class="grid__item three-sevenths"></div><!--
   --><div ng-if="prem.params.subName === 'overview'" ng-include="'objections.htm'" id="objections" class="grid__item three-sevenths accordion"></div><!--
   --><div ng-if="(prem.params.subName === 'movies') || (prem.params.subName === 'original-programming')" ng-include="'movieorig.htm'" id="movieorig" class="grid__item three-sevenths accordion"></div><!--
   --><div ng-if="prem.params.subName === 'channels'" ng-include="'channels.htm'" class="grid__item six-sevenths" id="channels"></div><!--
   --><div ng-if="prem.params.subName === 'streaming'" ng-include="'streaming.htm'" class="grid__item six-sevenths" id="streaming"></div><!--
 --></div><!--
 --></div>