<div>
    <img src="streaming.jpg" alt="">
</div>
<div class="grid__item five-eighths">
    <h2 class="grad-blue">DIRECTV Everywhere</h2>
    <ul>
        <li ng-repeat="point in premium.sellingPoints | filter:{evergreen: true} | filter:{subtab: (prem.params.subName | getIdByURL:data.subtabs)}">{{point.point}}</li>
    </ul>
    <h2 class="grad-blue" ng-repeat="point in premium.sellingPoints | filter:{evergreen: false} | filter:{subtab: (prem.params.subName | getIdByURL:data.subtabs)} | limitTo: 1" | limitTo: 1>{{point.title}}</h2>
    <ul ng-repeat="point in premium.sellingPoints | filter:{evergreen: false} | filter:{subtab: (prem.params.subName | getIdByURL:data.subtabs)}" >
        <li>{{point.point}}</li>
    </ul>
</div>