html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-size: 95%;
    font-family: 'Franklin Gothic', sans-serif;
    color: #333;
    line-height: 1.55;
}

img {
    width: 100%\9;
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label:hover {
    text-decoration: underline;
    cursor: pointer;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li ul {
    list-style-type: disc;
    padding: 10px 30px;
    font-size: .95em;
    line-height: 1.45;
}

li a, p a {
    color: #0072ae;
}

th, td {
    padding: 6px 10px;
}

td {
    border: 1px solid #0072ae;
}

thead th {
    background-color: #faa519;
    color: white;
    border: 1px solid #faa519;
    border-bottom: none;
}

tbody th {
    background-color: #0072ae;
    color: white;
    border: 1px solid #0072ae;
    text-align: left;
}

.corner {
    background-color: white;
    border: none;
    border-bottom: 1px solid #0072ae;
    border-right: 1px solid #faa519;
}

.serviceChk + .serviceChk {
    margin-left: 20px;
}

.header {
    background: url(http://agentanswercenter.directv.com/en-us/res/system/img/rcc_bg.jpg) right -20px no-repeat #071F31;
}

.dtvLogo {
    max-width: 235px\9;
    max-height: 26px\9;
}

.tool-title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    margin: 0px;
    color: white;
}

.grad-blue {
    background-color: #0072ae;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiYWFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDcyYWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #2baae1 0%, #0072ae 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2baae1 0%,#0072ae 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2baae1 0%,#0072ae 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2baae1', endColorstr='#0072ae',GradientType=0 ); /* IE6-8 */
}

#top {
    background-color: #404041;
}

#top a {
    min-width: 75px;
    color: #ddd;
    text-transform: uppercase;
}

#top a + a {
    border-left: 1px solid white;
}

#top a:hover {
    color: white;
}

#top a.active {
    background-color: #eaeaea;
    color: #333;
}

#sub {
    position: relative;
    background-color: #eaeaea;
    box-shadow: 3px 3px 3px #838383;
}

#sub a {
    color: #808284;
}

#sub a:hover, #sub a.active {
    color: #333;
}

#sub a.active {
    text-decoration: underline;
}

.nav a {
    display: inline-block;
    text-align: center;
    padding: 7px 10px;
    font-weight: bold;
}

#playing {
    background-color: #e6e7e8;
    line-height: 1.2;
}

#photos {
    margin-bottom: 10px;
}

#photos div div {
    width: 33%;
    background-color: #808284;
}

#playing {
    font-size: .95em;
}

#playing h2 {
    font-size: .9em;
    color: #838383;
    margin: 5px 0;
}

#playing h3 {
    font-size: 1em;
}

#playing div + div {
    margin-top: 10px;
}

#playing a {
    color: #454545;
}

#streaming h2 {
    color: white;
    padding: 5px 10px;
    margin: 0;
}

#streaming ul {
    margin: 0;
}

#streaming li {
    border: solid 2px #0072ae;
    padding: 10px;
}

.info {
    background-color: #e6e7e8;
    border: solid 1px #a7a9ab;
    font-weight: bold;
    padding: 5px;
    border-bottom-color: #faa519;
    border-bottom-width: 2px;
}

.info ul {
    font-size: .9em;
    padding-left: 10px;
}

.ondemand {
    font-size: .9em;
    padding-left: 10px;
    border-top: none;
    border-bottom-color: #a7a9ab;
}

.price {
    background-color: #faa519;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding: 7px 10px 5px;
}

.accordion label {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    background-color: #e6e7e8;
    padding: 7px 10px 5px;
    box-shadow: 1px 1px 5px #838383;
}

label[for=disclosures] {
    margin-top: 10px;
    background-color: #faa519;
    color: white;
}

#movieorig.accordion label {
    padding: 7px 10px 5px;
    color: white;
    box-shadow: 1px 1px 5px #838383;
}

.accordion {
    font-size: .9em;
    line-height: 1.2;
}

.accordion div {
    height: 0;
    overflow: hidden;
}

.accordion div.checked {
    height: auto;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px #838383;
}

.accordion input {
    display: none;
}

.accordion input.checked {
    display: block;
}

.accordion div {
    padding: 7px 10px 5px;
}

.dropdown {
    margin-top: 10px;
}

.dropdown div {
    height: 0;
    overflow: hidden;
}

.dropdown div.checked {
    height: auto;
    margin-bottom: 10px;
}

.dropdown input {
    display: none;
}

.dropdown input.checked {
    display: block;
}

.dropdown ul {
    margin: 0;
    font-size: .95em;
}

label.helpful {
    font-weight: bold;
    font-size: 1.05em;
    color: #2baae1;
}

label.helpful:after {
    content: ' \25B8';
}

label.checked.helpful:after {
    content: ' \25BE'
}

.grid__item {
    display: inline-block;
    vertical-align: top;
    padding: 10px 20px;
    width: 100%;
}

.grid__item .grid__item {
    padding: 0;
}

.grid__item .grid__item + .grid__item {
    padding-left: 20px;
}

.grid__item .grid__item .grid__item {
    padding: 10px 20px;
}

.one-seventh {
    width: 14.28571428571429%
}

.three-sevenths {
    width: 42.85714285714286%
}

.six-sevenths {
    width: 85.71428571428571%
}

.one-eighth {
    width: 12.5%;
}

.two-eighths {
    width: 25%;
}

.three-eighths {
    width: 37.5%;
}

.four-eighths {
    width: 50%;
}

.five-eighths {
    width: 62.5%;
}

.six-eighths {
    width: 75%;
}

.seven-eighths {
    width: 87.5%;
}

#calendar {
    background-color: #fbfbfb;
    padding-bottom: 40px;
}

.pdf {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 30px;
    background-color: #faa519;
    padding: 4px 20px;
}

.pdf p {
    margin: 0;
}

.pdf a {
    color: white;
}

.program {
    background-color: white;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #838383;
    width: 200px;
    vertical-align: top;
    border: 2px solid #0072ae;
}

.program:hover {
    border: 2px solid #faa519;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    background-color: #333;
}

.modal {
    position: fixed;
    width: 50%;
    background-color: white;
    top: 50px;
    left: 50%;
    margin-left: -25%;
    border-radius: 5px;
}