<div ng-controller="AvailCtrl">
    <div class="grid gameav_block">
        <div class="grid__item portable--one-half lap--one-half desk--one-half">
            <p class="av_label">GAME AVAILABILITY</p>
            <p class="av_text">Schedule and game availability subject to change. If game is not listed below, check <a href="https://www.e-access.att.com/mycsp/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_cha_spo_538187" target="blank">national</a> channels.</p>
        </div>
        <div class="grid__item portable--one-half lap--one-half desk--one-half">
            <div class="filter"></div>
        </div>
    </div>
    <!--<table datatable="" dt-options="dsseOptions" dt-columns="dsseColumns" dt-instance="dsseInstance"></table>-->
</div>