	<div class="row" style="padding-top:10px;height:95px">
<!-- 		<div class="col-md-2 col-xs-2" style="float:left">
			<span class="pull-left ziptext" style="display:inline-block">ZIP CODE</span>
		</div>
		<div class="col-md-3 col-xs-3" style="float:left; display:inline-block">
			<input class="user_zipcode form-control input-md" type="text" value="Enter ZIP" style="color:#ccc;border-radius:0" onfocus="this.value=''; this.style.color='#000'" value="Enter ZIP" onblur="this.style.color='#ccc'">
		</div>
		<div class="col-md-3 col-xs-3" style="float:left;display:inline-block">
			<input type="submit" class="btn btn_submit" value="GAME AVAILABILITY" style="background-color:#009edb;color:white;border-radius:0;margin-left:0">
		</div>
 -->	</div>
	<div>
		<div class="col-md-6 col-xs-6" style="float:left">
		<p style="font-size: 1.8em; color:#e97400;font-weight:600;margin-bottom:0">GAME AVAILABILITY</p>
		<p style="font-size: 1.2em;"">Schedule and game availability subject to change. If game is not listed below, check <a href="http://agentanswercenterstg.directv.com/en-us/res/programming/local_availability.html" target="_blank">local</a> or <a href="http://agentanswercenterstg.directv.com/en-us/res/programming/national_sports_channels.html" target="blank">national</a> channels.</p>
		</div>
		<div class="col-md-6 col-xs-6" style="float:left">
			<div class="filter"></div>
		</div>
	</div>
	<div class="row" style="float:left"></div>
	<div class="row table_container"></div>
	<div class="alert alert-success processing" role="alert">Please wait while data are being processed...</div>
	<div class="games_table"></div>
	<script type="text/javascript" src="http://agentanswercenterstg.directv.com/en-us/res/system/js/underscore.js"></script>
 	<script type="text/javascript" src="http://agentanswercenterstg.directv.com/en-us/res/rover_tools/dsse/dsset.js"></script>
	<script type="text/javascript" src="legacy/js/sports_availability_j.js"></script>