<script type="text/javascript" src="http://agentanswercenterstg.directv.com/en-us/res/system/js/underscore.js"></script>
<script type="text/javascript" src="http://agentanswercenterstg.directv.com/en-us/res/rover_tools/dsse/dsset.js"></script>
<script type="text/javascript" src="legacy/js/sports_availability_j.js"></script>
<div ng-controller="AvailCtrl">
	<div class="gameav_block">
		<div class="col-md-6 col-xs-6" style="float:left">
			<p class="av_label">GAME AVAILABILITY</p>
			<p class="av_text">Schedule and game availability subject to change. If game is not listed below,<br> check <a href="http://agentanswercenterstg.directv.com/en-us/res/programming/local_availability.html" target="_blank">local</a> or <a href="http://agentanswercenterstg.directv.com/en-us/res/programming/national_sports_channels.html" target="blank">national</a> channels.</p>
		</div>
		<div class="col-md-6 col-xs-6" style="float:right">
			<div class="filter"></div>
		</div>
	</div>
	<div class="row" style="float:left"></div>
	<div class="row table_container"></div>
	<div class="alert alert-success processing" role="alert"> Please wait while data are being processed...</div>
	<div class="games_table"></div>
</div>