<div class="outer header">
    <div class="grid grid--full">
        <div class="grid__item one-half">
            <img class="dtvLogo" src="http://agentanswercenter.directv.com/en-us/res/system/img/Logo_DTV_ATT.png">
        </div>
        <div class="grid__item one-half">
            <h1 class="tool-title palm--center">Choose A Tool</h1>
        </div>
    </div>
</div>
<div id="choose" class="outer" ng-controller="ChooseCtrl">
    <div class="grid">
        <div class="grid__item">
            <h1>Please choose a tool below</h1>
        </div>
        <div class="grid__item one-half palm--one-whole" ng-repeat="choice in choose.choices">
            <a class="button bg--blue" ng-href="#/{{choice.url}}" ng-bind="choice.name"></a>
        </div>
    </div>
</div>