<div style="background-color:#eaeaea;height:15px"></div>
<div class="view-inner">
    <div class="grid">
        <div class="outer">
            <div class="grid__item">
                <h2>Need Help?</h2>
                <p>Please follow these steps to help your customer locate a specific game</p>
            </div>
            <div id="game_locator" class="grid__item">
                <ol>
                    <li>
                        <div class="grid">
                            <div class="grid__item three-fifths">
                                <h3>1. Check the Sports/RSN Lookup tool</h3>
                                <p>If a customer is having trouble finding a game, check the <a href="#/sports/lookup">Sports/RSN Lookup</a> tool to find out when and what channel the game is on.</p>
                            </div>
                            <div class="grid__item two-fifths">
                                <h4>Tips</h4>
                                <p>The Sports/RSN Lookup tool displays channel information for RSN, PPV or Sports Subscription games.</p>
                                <p>The tool is updated daily and even displays replay information in case the customer missed a game the first time.</p>
                                <h4>Related Links</h4>
                                <ul class="related">
                                    <li>
                                        <a href="http://www.directv.com/DTVAPP/epg/theGuide.jsp" target="_blank">DIRECTV.com Channel Listings</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="grid">
                            <div class="grid__item three-fifths">
                                <h3>2. Check local channels</h3>
                                <p>A game may be on: Locals, RSNs and National and Alternate channels.</p>
                                <p>For local channels:</p>
                                <ol>
                                    <li>Have the customer check for the game on local stations. See the <a href="http://agentanswercenter.directv.com/en-us/res/programming/local_availability.html" target="_blank">Local Availability</a> tool.</li>
                                    <li>Have customer check for the game on the local RSN. See the <a href="#/sports/lookup">Sports/RSN Lookup</a> tool.</li>
                                </ol>
                            </div>
                            <div class="grid__item two-fifths">
                                <h4>Tips</h4>
                                <p>If the team isn't in the RSN tool:</p>
                                <ul>
                                    <li>Team is out of the customer's area.</li>
                                    <li>Team has no RSN coverage.</li>
                                    <li>Team is for a sport not in the RSN tool (NFL, college).</li>
                                    <li>DIRECTV may no longer have rights to broadcast the game.</li>
                                </ul>
                                <h4>Related Links</h4>
                                <ul class="related">
                                    <li>
                                        <a href="http://agentanswercenter.directv.com/en-us/res/programming/pro_teams_no_rsn.html" target="_blank">Professional Teams with No RSN</a>
                                    </li>
                                    <li>
                                        <a href="http://agentanswercenter.directv.com/en-us/res/programming/sports_pack.html" target="_blank">Sports Pack</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="grid">
                            <div class="grid__item three-fifths">
                        <h3>3. Check national channels</h3>
                        <p>If you still can't find the game on a local channel, it may be on a national channel.<br />Have the customer check these channels:</p>
                        <table>
                            <tr>
                                <th>Pro Football</th><th>Pro Hockey</th>
                            </tr>
                            <tr>
                                <td>
                                    <ul>
                                        <li>ESPN (Ch. 206)</li>
                                        <li>NFL Network (Ch. 212)</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li id="cnbc" class="sportsChan2">CNBC (Ch. 355)</li>
                                        <li id="ver" class="sportsChan2">NBC Sports Network (Ch. 220)</li>
                                        <li id="nhl" class="sportsChan2">NHL Network (Ch. 215)</li>
                                        <li id="wgn" class="sportsChan2">WGN Network (Ch. 307)</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Pro Basketball</th><th>Pro Baseball</th>
                            </tr>
                            <tr>
                                <td>
                                    <ul>
                                        <li id="espn" class="sportsChan3">ESPN (Ch. 206)</li>
                                        <li id="espn2" class="sportsChan3">ESPN2 (Ch. 209)</li>
                                        <li id="nba" class="sportsChan3">NBA TV (Ch. 216)</li>
                                        <li id="tnt" class="sportsChan3">TNT (Ch. 245)</li>
                                        <li id="wgn" class="sportsChan3">WGN Network (Ch. 307)</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li id="espn" class="sportsChan4">ESPN (Ch. 206)</li>
                                        <li id="espn2" class="sportsChan4">ESPN2 (Ch. 209)</li>
                                        <li id="foxs1" class="sportsChan4">Fox Sports 1 (Ch. 219)</li>
                                        <li id="mlb" class="sportsChan4">MLB Network (Ch. 213)</li>
                                        <li id="tbs" class="sportsChan4">TBS (Ch. 247)</li>
                                        <li id="wgn" class="sportsChan4">WGN Network (Ch. 307)</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">College Sports</th>
                            </tr>
                            <tr>
                                <td style="border-right:none;">
                                    <ul class="dualChannelList">
                                        <li id="big10" class="sportsChan5">Big Ten Network (Ch. 610)</li>
                                        <li id="byu" class="sportsChan5">BYUTV (Ch. 374)</li>
                                        <li id="cbscs" class="sportsChan5">CBS Sports Network(Ch. 221)</li>
                                        <li id="espn" class="sportsChan5">ESPN (Ch. 206)</li>
                                        <li id="espnClas" class="sportsChan5">ESPN Classic (Ch. 614)</li>
                                        <li id="espn2" class="sportsChan5">ESPN2 (Ch. 209)</li>
                                        <li id="espnws" class="sportsChan5">ESPNews (Ch. 208)</li>
                                        <li id="espnu" class="sportsChan5">ESPNU (Ch. 208)</li>
                                    </ul>
                                </td>
                                <td style="border-left:none;">
                                    <ul class="dualChannelList">
                                        <li id="foxcs" class="sportsChan5">Fox College Sports (Ch. 608)</li>
                                        <li id="foxs1" class="sportsChan5">Fox Sports 1 (Ch. 219)</li>
                                        <li id="ver" class="sportsChan5">NBC Sports Network (Ch. 220)</li>
                                        <li id="secn" class="sportsChan5">SEC Network (Ch. 611)</li>
                                        <li id="tbs" class="sportsChan5">TBS (Ch. 247)</li>
                                        <li id="tnt" class="sportsChan5">TNT (Ch. 245)</li>
                                        <li id="secn" class="sportsChan5">TruTV (Ch. 246)</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                        </div>
                            <div class="grid__item two-fifths">
                                <h4>Tips</h4>
                        <p>There are some other channels you might want to have the customer check that aren't national channels but do show games:</p>
                        <ul>
                            <li>AXS TV HD (Ch. 340 – Advanced Receiver HD required)</li>
                        </ul>
                        <h4>Related Links</h4>
                        <ul class="related">
                            <li>
                                <A href="http://agentanswercenter.directv.com/en-us/res/programming/nhl_network.html" target="_blank">NHL Network</a></li>
                            <li>
                                <A href="http://agentanswercenter.directv.com/en-us/res/programming/hdnet.html" target="_blank">AXS TV HD</a>
                            </li>
                        </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="grid">
                            <div class="grid__item three-fifths">
                        <h3>4. Check alternate channels</h3>
                        <p>Alternate channels are usually found on channels near the customer's local RSN or channels like ESPN or ESPN2.</p>
                        <p>Alternate channels can be found if more than one professional game of the same sport is played at the same time on the same channel. An alternate channel my open up and carry one of the games.</p>
                        </div>
                            <div class="grid__item two-fifths">
                                <h4>Tips</h4>
                        <p>Customers can't subscribe to these channels and they're only viewable while the game is in progress.</p>
                        <h4>Related Links</h4>
                        <ul class="related">
                            <li>
                                <a href="http://agentanswercenter.directv.com/en-us/res/programming/alternate_channels.html" target="_blank">Alternate Channels</a>
                            </li>
                        </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="grid">
                            <div class="grid__item three-fifths"><h3>5. Sports subscription blackouts</h3>
                        <p>If a customer has a sports subscription, specific blackout rules may apply to each individual sport. They are different for each package.</p>
                        </div>
                            <div class="grid__item two-fifths">
                                <h4>Tips</h4>
                        <p>Check to see what sports subscription the customer has and reference the appropriate blackout section on the corresponding Agent Answer Center page.</p>
                        <h4>Related Links</h4>
                        <ul class="related">
                            <li>
                                <a href="http://agentanswercenter.directv.com/en-us/res/programming/mlb_extra_innings.html" target="_blank">MLB Extra Innings</a>
                            </li>
                            <li>
                                <a href="http://agentanswercenter.directv.com/en-us/res/programming/mls_direct_kick.html" target="_blank">MLS Direct Kick</a>
                            </li>
                            <li>
                                <a href="http://agentanswercenter.directv.com/en-us/res/programming/nba_league_pass.html" target="_blank">NBA League Pass</a>
                            </li>
                            <li>
                                <a href="http://agentanswercenter.directv.com/en-us/res/programming/nfl_st_to_go_offers.html" target="_blank">NFL Sunday Ticket</a>
                            </li>
                            <li>
                                <a href="http://agentanswercenter.directv.com/en-us/res/programming/nhl_center_ice.html" target="_blank">NHL Center Ice</a>
                            </li>
                            <li>
                                <a href="http://agentanswercenter.directv.com/en-us/res/programming/sports_pack.html" target="_blank">Sports Pack</a>
                            </li>
                        </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="grid">
                            <div class="grid__item three-fifths">
                        <h3>6. Offer a sports subscription as a possible solution</h3>
                        <p>If you´ve checked all possible channels and specific blackout rules for the sport or team, and still can't locate the game, you might want to offer a sports subscription if the customer doesn't already have one.</p>
                        <p>Sports subscriptions allow fans to watch teams outside their local areas, follow their favorite teams across the country, watch games normally not seen and see more games of their favorite sport.</p>
                        </div>
                            <div class="grid__item two-fifths">
                                <h4>Tips</h4>
                        <p>If a customer's favorite team is not the local team it's considered an "out-of-market" team. Sports subscriptions are great additions for fans of non-local teams. Ask the customer if the team he/she wants to see is a non-local (out-of-market) team.</p>
                        <h4>Related Links</h4>
                        <ul class="related">
                            <li>
                                <a href="http://agentanswercenter.directv.com/en-us/res/programming/ppv_college_football.html" target="_blank">PPV College Football</a>
                            </li>
                        </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="grid">
                            <div class="grid__item three-fifths">
                                <h3>7. Customer is completely blacked out</h3>
                                <p>If you still can't locate the customer's game on any of the channels listed previously, it may be blacked out in the area completely.</p>
                                <p>Games are blacked out to protect the teams, the sports leagues and the stations that purchase the rights to broadcast individual games.</p>
                                <p>Explain that DIRECTV must follow blackout guidelines provided by the leagues, sports associations and program carriers.</p>
                                <p>Customers in certain areas will not be able to view games on the RSN or in the league package. Check individual RSN pages and NBA, NHL, and MLB Blackout pages for more information.</p>
                            </div>
                            <div class="grid__item two-fifths">
                                <h4>Tips</h4>
                                <p>Explain: "Sports blackouts are controlled by the leagues, sports associations, and program carriers. In some areas, DIRECTV may no longer have rights to broadcast the customer's games."</p>
                                <p>"Thank you for your patience. I understand how frustrating this can be. We would be happy to check with our broadcast center to ensure there are no broadcasting issues."</p>
                                <p>See <a href="http://agentanswercenter.directv.com/en-us/res/programming/response_to_blackouts.html" target="_blank">Response to Blackouts</a> in Agent Answer Center.</p>
                                <h4>Related Links</h4>
                                <ul class="related">
                                    <li>
                                        <a href="http://www.directv.com/DTVAPP/global/contentPage.jsp?assetId=2500002&amp;_DARGS=/DTVAPP/layout/component/topNavSections.jsp.36_A&amp;_DAV=-1&amp;_dynSessConf=-4816016888866669653" target="_blank">DIRECTV.com Blackouts</a>
                                    </li>
                                    <li>
                                        <a href="http://www.directv.com/DTVAPP/customer/faqPage.jsp?assetId=3330004&amp;_DARGS=/DTVAPP/layout/component/topNavSections.jsp.37_A&amp;_DAV=-1&amp;_dynSessConf=-4816016888866669653" target="_blank">DIRECTV.com Sports FAQs</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="grid">
                            <div class="grid__item three-fifths">
                                <h3>8. Blackout is incorrect</h3>
                                <p>If you have completed all troubleshooting instructions, and you still can't locate the customer's game on any of the channels listed previously, and you feel that the blackout is in error, escalate the issue to a Team Leader.</p>
                                <p>Say "Thank you for your patience. I understand how frustrating this can be. We would be happy to check with our broadcast center to ensure there are no broadcasting issues."</p>
                            </div>
                            <div class="grid__item two-fifths">
                                <h4>Tips</h4>
                                <p>See <a href="http://agentanswercenter.directv.com/en-us/res/programming/response_to_blackouts.html" target="_blank">Response to Blackouts</a> in Agent Answer Center.</p>
                                <h4>Related Links</h4>
                                <ul class="related">
                                    <li>
                                        <a href="http://www.directv.com/DTVAPP/global/contentPage.jsp?assetId=2500002&amp;_DARGS=/DTVAPP/layout/component/topNavSections.jsp.36_A&amp;_DAV=-1&amp;_dynSessConf=-4816016888866669653" target="_blank">DIRECTV.com Blackouts</a>
                                    </li>
                                    <li>
                                        <a href="http://www.directv.com/DTVAPP/customer/faqPage.jsp?assetId=3330004&amp;_DARGS=/DTVAPP/layout/component/topNavSections.jsp.37_A&amp;_DAV=-1&amp;_dynSessConf=-4816016888866669653" target="_blank">DIRECTV.com Sports FAQs</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
<!-- <div ng-controller="LocCtrl">
    <div>
        <ul>
            <li ng-repeat="sub in premium.subs">
                <a ng-href="#/{{prem.params.tool}}/{{premium.name | lowercase | spcToHyphen}}/{{sub | getItByThat:data.subtabs:'name':'id' | lowercase | spcToHyphen}}" ng-class="{active: prem.params.subName == (sub | getItByThat:data.subtabs:'name':'id' | lowercase | spcToHyphen)}" ng-bind="sub | getItByThat:data.subtabs:'name':'id'">Loading&hellip;</a>
            </li>
        </ul>
    </div>
    <div ng-repeat="step in data.glSteps | filter:{step:params.subName.slice(-1)}">
        <h2 ng-bind="step.title"></h2>
        <p ng-bind-html="step.description | trust"></p>
        <hr />
        <h3>Tips</h3>
        <ul>
            <li ng-repeat="tip in step.tips" ng-bind="tip"></li>
        </ul>
        <h3>Links</h3>
        <ul>
            <li ng-repeat="link in step.links" ng-bind="link"></li>
        </ul>
    </div>
</div> -->
</div>