<div class="header bg--blue">
    <div class="grid grid--full">
        <div class="grid__item one-whole lap--one-half portable--one-half desk--one-half">
            <a href="#/choose"><img class="dtvLogo" src="http://agentanswercenter.directv.com/en-us/res/system/img/ATT_DTV_Wht_Sol_Rev.png"></a>
        </div>
        <div class="grid__item one-whole lap--one-half portable--one-half desk--one-half">
            <h1 class="tool-title palm--center">
                <img class="tool-img" ng-if="prem.params.tool" ng-src="http://agentanswercenterstg.directv.com/en-us/res/system/img/{{tool(prem.params.tool)}}" />
                <img class="tool-img" ng-if="!prem.params.tool" src="http://agentanswercenterstg.directv.com/en-us/res/system/img/hdr_choose.png" />
            </h1>
        </div>
    </div>
</div>