<div class="header bg--blue">
    <div class="grid grid--full">
        <div class="grid__item one-half">
            <img class="dtvLogo" src="http://agentanswercenter.directv.com/en-us/res/system/img/ATT_DTV_Wht_Sol_Rev.png">
        </div>
        <div class="grid__item one-half">
            <h1 class="tool-title palm--center">
                <span ng-if="prem.params.tool" ng-bind="tool(prem.params.tool)"></span>
                <span ng-if="!prem.params.tool">Choose A Tool</span>
            </h1>
        </div>
    </div>
</div>