<script type="text/javascript" src="http://agentanswercenterstg.directv.com/en-us/res/system/js/underscore.js"></script>
<script type="text/javascript" src="http://agentanswercenterstg.directv.com/en-us/res/rover_tools/dsse/dsset.js"></script>
<script type="text/javascript" src="legacy/js/sports_availability_j.js"></script>
<form ng-controller="LookupCtrl">
	<div class="zipblock">
	    <span class="ziplbl mr10"> ZIP CODE </span>
	    <input type="number" ng-model="zip" class="zipinp mr10"/>
	    <button ng-click="lookup = 'availability'; zipClick = zip; go();" class="lookup_btns av_btn mr10" >Game Availability</button>
	    <button ng-click="lookup = 'rsn'; zipClick = zip;" class="lookup_btns rs_btn mr10">Lookup RSN</button>
	    <button ng-click="zip = null; lookup = null; zipClick = null;" class="lookup_btns">Reset</button>
	</div>
	<div ng-if="lookup == 'availability'" ng-include="'views/availability.htm'"></div>
	<div ng-if="lookup == 'rsn'" ng-include="'views/rsn.htm'"></div>
</form>