<div ng-include="'views/header.htm'"></div>
<div>
    <ul class="nav" id="top">
        <li ng-repeat="premium in data.premiums | unique:'category'">
            <a ng-if="children.indexOf(premium.name) < 0" ng-href="#/{{prem.params.tool}}/{{premium.name | lowercase | spcToHyphen}}/{{prem.params.subName}}" ng-class="{active: prem.params.premName == (premium.name | lowercase | spcToHyphen)}" ng-bind="premium.category || premium.name">Loading Premiums&hellip;</a>
            <span ng-if="children.indexOf(premium.name) >= 0" ng-class="{active: (prem.params.premName | getItByThat:data.premiums:'category':'url') == premium.category}" ng-bind="premium.category || premium.name">Loading Premiums&hellip;</span>
            <ul ng-if="children.indexOf(premium.name) >= 0">
                <li ng-repeat="premium in data.premiums | filter:{category:$parent.premium.category}">
                    <a ng-href="#/{{prem.params.tool}}/{{premium.name | lowercase | spcToHyphen}}/{{prem.params.subName}}" ng-class="{active: prem.params.premName == (premium.name | lowercase | spcToHyphen)}" ng-bind="premium.name">Loading Premiums&hellip;</a>
                </li>
            </ul>
        </li><!-- 
         --><li ng-if="data.calendars">
            <a href="#/entertainment/calendar" ng-class="{active: main.$route.current.loadedTemplateUrl == 'views/calendar.htm'}">Calendar</a>
        </li>
    </ul>
    <div class="sub-view" sub-view></div>
</div>