<h2>Objections</h2>
<label ng-repeat-start="objection in premium.objections" for="{{objection.category}}" checker>{{objection.category}}</label><input type="radio" name="accordion" id="{{objection.category}}">
<div ng-repeat-end>
  <ul>
    <hr ng-repeat-start="response in objection.responses" ng-if="!$first" />
    <li ng-repeat-end>{{response}}</li>
  </ul>
</div>

<label ng-if="premium.disclosures" for="disclosures" checker>Disclosures</label><input type="radio" name="accordion" id="disclosures">
<div ng-if="premium.disclosures">
  <ul>
    <hr ng-repeat-start="disclosure in premium.disclosures" ng-if="!$first" />
    <li ng-repeat-end>
        {{(data.disclosures | filter : {id: disclosure})[0].lvl1}}
        <ul>
            <li ng-repeat="lvl2 in (data.disclosures | filter : {id: disclosure})[0].lvl2">{{lvl2}}</li>
        </ul>
    </li>
  </ul>
</div>