<div class="view-inner">
    <div class="nav" id="sub">
        <a ng-repeat-start="sub in premium.subs" ng-href="#/{{premium.name | lowercase | spcToHyphen}}/{{sub | getItByThat:data.subtabs:'name':'id' | lowercase | spcToHyphen}}" ng-class="{active: prem.params.subName == (sub | getItByThat:data.subtabs:'name':'id' | lowercase | spcToHyphen)}">{{sub | getItByThat:data.subtabs:'name':'id'}}</a><span class="navDivider" ng-if="!$last" ng-repeat-end> | </span>
    </div>
    <div class="outer">
    <div class="grid">
        <div class="grid__item one-eighth bg__col bg--light-grey" ng-if="(prem.params.premName !== 'sports-pack') && (prem.params.premName !== 'streaming')" ng-include="'views/playing.htm'" id="playing"></div>
        <div class="grid__item seven-eighths bg__col bg--white">
            <div class="grid">
                <div class="grid__item one-third bg__box bg--dark-grey" ng-if="prem.params.subName === 'overview'" ng-repeat="calendar in data.calendars | filter:{premium: premium.id} | limitTo: 3">
                    <img class="photo" ng-src="%%pub%%system/img/{{calendar.program | lowercase | spcToHyphen}}.jpg" />
                </div>
                <div class="grid__item one-seventh" id="aside">
                    <img ng-src="%%pub%%system/img/{{premium.name | lowercase | spcToHyphen}}-logo.png" />
                    <div class="info" ng-hide="(premium.price == null) && (premium.channels == null)">
                        <div ng-show="premium.price" class="price"><span ng-if="isStringNumber(premium.price)">&#36;</span>{{premium.price}}</div>
                        <a ng-show="premium.channels" ng-href="#/{{prem.params.premName}}/channels">
                            <ul>
                                <li>{{premium.channels.length}} Channels</li>
                                <li>{{HD = (premium.channels | filter:{HD: true, SD: false}).length}} HD Only</li>
                                <li>{{SD = (premium.channels | filter:{HD: false, SD: true}).length}} SD Only</li>
                                <li>{{SDHD = (premium.channels | filter:{HD: true, SD: true}).length}} SD/HD</li>
                            </ul>
                        </a>
                    </div>
                    <div ng-show="{{premium.ODchan}}" class="info ondemand">
                        {{premium.name}} DIRECTV On&nbsp;Demand Ch:&nbsp;{{premium.ODchan}}
                    </div>
                    <div class="dropdown">
                        <label for="helpful" class="helpful" dropdown>Useful Links</label>
                        <input type="checkbox" name="dropdown" id="helpful" />
                        <div>
                            <ul>
                                <li ng-if="premium.premURL"><a ng-href="{{premium.premURL}}" target="_blank">{{premium.name}} Website</a></li>
                                <li ng-if="premium.dotcomURL"><a ng-href="http://www.directv.com/{{premium.dotcomURL}}" target="_blank">{{premium.name}} on DIRECTV.com</a></li>
                                <li ng-if="premium.aacURL"><a ng-href="%%pub%%programming/{{premium.aacURL}}" target="_blank">{{premium.name}} on AAC</a></li>
                                <li ng-if="premium.streamFrag"><a ng-href="%%pub%%programming/{{premium.aacURL}}#fragment={{premium.streamFrag}}" target="_blank">{{premium.streamName}} on AAC</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-if="(prem.params.subName !== 'channels') && (prem.params.subName !== 'streaming') && (prem.params.subName !== 'breakdown') && (prem.params.subName !== 'ordering') && (prem.params.subName !== 'pricing')" ng-include="'views/selling.htm'" id="selling" class="grid__item three-sevenths"></div>
                <div ng-if="prem.params.subName === 'ordering'" ng-include="'views/ordering.htm'" id="ordering" class="grid__item three-sevenths"></div>
                <div ng-if="prem.params.subName === 'pricing'" ng-include="'views/pricing.htm'" id="pricing" class="grid__item three-sevenths"></div>
                <div ng-if="prem.params.subName === 'breakdown'" ng-include="'views/breakdown.htm'" id="breakdown" class="grid__item six-sevenths"></div>
                <div ng-if="prem.params.subName === 'overview'" ng-include="'views/objections.htm'" id="objections" class="grid__item three-sevenths accordion"></div>
                <div ng-if="(prem.params.subName !== 'channels') && (prem.params.subName !== 'overview') && (prem.params.subName !== 'streaming') && (prem.params.subName !== 'breakdown')" ng-include="'views/movieorig.htm'" id="movieorig" class="grid__item three-sevenths accordion"></div>
                <div ng-if="prem.params.subName === 'channels'" ng-include="'views/channels.htm'" class="grid__item six-sevenths" id="channels"></div>
                <div ng-if="prem.params.subName === 'streaming'" ng-include="'views/streaming.htm'" class="grid__item six-sevenths" id="streaming"></div>
            </div>
        </div>
    </div>
    </div>
<div>