<h2>Pricing</h2>
<table class="dtv-movie-rate" cellpadding="1">
    <thead>
        <tr>
            <th>Format</th>
            <th>New Releases</th>
            <th>Theatrical</th>
            <th>Library</th>
            <th>Exclusive Premieres*</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="cinema in data.cinema">
            <td ng-bind-html="cinema.format"></td>
            <td ng-bind-html="cinema.releases"></td>
            <td ng-bind-html="cinema.theatrical"></td>
            <td ng-bind-html="cinema.library"></td>
            <td ng-bind-html="cinema.premieres"></td>
        </tr>
    </tbody>
</table>
<p class="note">*Some Exclusive Premiere titles are priced $12.99</p>
