<h2>Pricing</h2>
<table class="dtv-movie-rate" cellpadding="1">
    <thead>
        <tr>
            <th>Format</th>
            <th>New Releases</th>
            <th>Theatrical</th>
            <th>Library</th>
            <th>Exclusive Premieres*</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>SD</td>
            <td>$4.99</td>
            <td>$6.99</td>
            <td>$2.99</td>
            <td>$9.99</td>
        </tr>
        <tr>
            <td>HD</td>
            <td>$5.99</td>
            <td>$7.99</td>
            <td>$3.99</td>
            <td>$10.99</td>
        </tr>
        <tr>
            <td>4K</td>
            <td>$15.99</td>
            <td>N/A</td>
            <td>$6.99 (Shorts)
                <br>$12.99 (Major films)</td>
            <td>N/A</td>
        </tr>
    </tbody>
</table>
<p class="note">*Some Exclusive Premiere titles are priced $11.99 SD/$12.99 HD</p>
