
<div class="outer" ng-controller="RsnCtrl">
<p class="av_label">RSN (Regional Sports Network)</p>
<p class="av_text">
Local teams with no RSN coverage may be found on local stations. Refer to <a href="http://agentanswercenter.directv.com/en-us/res/programming/pro_teams_no_rsn.html" target="_blank">Professional Teams with No RSN</a> for more information about <strong>such teams as the Dodgers</strong>. If customer is in coverage area but sees blackout message on screen then contact your supervisor to escalate. Use <a href="javascript:pop_at('/en-us/res/rover_tools/game_locator/game_locator.htm',840,600);">Game Locator Tool</a> to help customers find a game or team. Customers will only get the coverage of their local teams listed below. If customers want additional teams, please see Seasonal Sports subscriptions (Example: MLB Extra Innings, ESPN Full Court, NHL Center Ice). Regional Sports Networks are not available with Preferred Extra base package.
</p>
<table datatable="ng">
    <thead>
        <tr>
            <td>Zip Code</td>
            <td>ST</td>
            <td><small class="minReq">Minimum Required Packages:</small><br />Choice / Mas Ultra</td>
            <td><small class="minReq">Minimum Required Packages:</small><br />Xtra</td>
            <td><small class="minReq">Minimum Required Packages:</small><br />Choice / Mas Ultra with Sports Pack</td>
            <td>Baseball</td>
            <td>Basketball</td>
            <td>Hockey</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="data in filteredRSN = (rsndata | checkRange:$parent.zipClick)">
            <td>{{data.ZIP_CODE}}</td><td>{{data.STATE}}</td><td>{{data.CHOICE_MAS_ULTRA}}</td><td>{{data.XTRA}}</td><td>{{data.SPORTS_PACK}}</td><td>{{data.MLB}}</td><td>{{data.NBA}}</td><td>{{data.NHL}}</td>
        </tr>
        <tr ng-if="filteredRSN.length == 0">
            <td colspan="8">Sorry there were no matches</td>
        </tr>
    </tbody>
</table>
</div>