<h2>{{prem.params.subName | getItByThat:data.subtabs:'name':'url'}}</h2>
<ul ng-repeat="sellingPoint in filteredPoints = (premium.sellingPoints | filter:{title: null} | filter:{subtab: (prem.params.subName | getItByThat:data.subtabs:'id':'url')})">
    <li ng-repeat-start="text in sellingPoint.point">{{text}}</li>
    <hr ng-if="!$last" ng-repeat-end />
</ul>
<div class="movieorig inner accordion" ng-if="data.tool == 'sports'">
    <label ng-repeat-start="sellingPoint in bluePoints = (premium.sellingPoints | filter:{title: ''} | filter:{subtab: (prem.params.subName | getItByThat:data.subtabs:'id':'url')}) track by $index" for="{{sellingPoint.title}}" class="grad-blue" checker>{{sellingPoint.title}}</label>
    <input type="radio" name="accordion" id="{{sellingPoint.title}}">
    <div ng-repeat-end>
        <ul>
            <li ng-repeat-start="text in sellingPoint.point">{{text}}</li>
            <hr ng-if="!$last" ng-repeat-end />
        </ul>
    </div>
</div>
<table ng-if="prem.params.subName == '101-by-team'">
    <tbody ng-repeat="conference in premium.conferences | orderBy:'name'">
        <tr>
            <td width="33%" colspan="3">{{conference.name}}</td>
        </tr>
        <tr>
            <td ng-repeat="division in conference.divisions | orderBy:'name'">{{division.name}}</td>
        </tr>
        <tr>
            <td style="padding:0;" cellspacing="0" cellpadding="0" ng-repeat="division in conference.divisions | orderBy:'name'">
                <table style="width:100%; margin:0;" cellspacing="0" cellpadding="0">
                    <tr ng-repeat="team in division.teams | orderBy:'name'">
                        <td>{{team.name}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>