<h2>{{prem.params.subName | getItByThat:data.subtabs:'name':'url'}}</h2>
<ul ng-repeat="sellingPoint in filteredPoints = (premium.sellingPoints | filter:{title: null} | filter:{subtab: (prem.params.subName | getItByThat:data.subtabs:'id':'url')})">
    <li ng-repeat-start="text in sellingPoint.point">{{text}}</li>
    <hr ng-if="!$last" ng-repeat-end />
</ul>
<div class="movieorig inner accordion" ng-if="data.tool == 'sports'">
    <label ng-repeat-start="sellingPoint in bluePoints = (premium.sellingPoints | filter:{title: ''} | filter:{subtab: (prem.params.subName | getItByThat:data.subtabs:'id':'url')}) track by $index" for="{{sellingPoint.title}}" class="grad-blue" checker>{{sellingPoint.title}}</label>
    <input type="radio" name="accordion" id="{{sellingPoint.title}}">
    <div ng-repeat-end>
        <ul>
            <li ng-repeat-start="text in sellingPoint.point">{{text}}</li>
            <hr ng-if="!$last" ng-repeat-end />
        </ul>
    </div>
</div>
<table class="by-team" ng-if="prem.params.subName == '101-by-team'" ng-repeat="conference in premium.conferences | orderBy:'name'">
    <tbody>
        <tr>
            <td class="conference" width="33%" colspan="3">{{conference.name}}</td>
        </tr>
        <tr>
            <td class="division" ng-repeat="division in premium.divisions | orderBy:'name' | filter:{conference: conference.id}">{{division.name}}</td>
        </tr>
        <tr>
            <td class="teamBox" style="padding:0;" cellspacing="0" cellpadding="0" ng-repeat="division in premium.divisions | orderBy:'name' | filter:{conference: conference.id}">
                <table style="width:100%; margin:0;" cellspacing="0" cellpadding="0">
                    <tr ng-repeat="team in premium.teams | orderBy:'name' | filter:{division: division.id}">
                        <td class="team"><img ng-src="http://agentanswercenter.directv.com/en-us/res/system/img/{{team.name | lowercase | spcToHyphen}}-sm.png" ng-click="aParam('trivia', team.name)" /><span ng-bind="team.name" ng-click="aParam('trivia', team.name)"></span></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<div class="trivia" ng-if="trivia" ng-repeat="team in premium.teams | orderBy:'name' | filter:{name: trivia}">
    <a class="close" href ng-click="aParam('trivia', null)">&#x2716;</a>
    <p><img ng-src="http://agentanswercenter.directv.com/en-us/res/system/img/{{team.name | lowercase | spcToHyphen}}.gif" /><b ng-bind="team.name"></b> - <span ng-repeat="point in team.point" ng-bind="point"></span></p>
</div>