<div>
    <img src="http://agentanswercenter.directv.com/en-us/res/system/img/streaming.jpg" alt="">
</div>
<div class="grid__item five-eighths">
    <h2 class="grad-blue">DIRECTV Everywhere</h2>
    <ul>
        <li ng-repeat="point in premium.sellingPoints | filter:{evergreen: true} | filter:{subtab: (prem.params.subName | getItByThat:data.subtabs:'id':'url')}">{{point.point}}</li>
        <li ng-if="premium.streamName">For more detailed information about <b>{{premium.streamName}}</b>, visit the <a ng-href="http://agentanswercenter.directv.com/en-us/res/programming/{{premium.aacURL}}#fragment={{premium.streamFrag}}" target="_blank">{{premium.name}} page on Agent Answer Center</a></li>
    </ul>
    <h2 class="grad-blue" ng-repeat="point in premium.sellingPoints | filter:{evergreen: false} | filter:{subtab: (prem.params.subName | getItByThat:data.subtabs:'id':'url')} | limitTo: 1" | limitTo: 1>{{point.title}}</h2>
    <ul ng-repeat="point in premium.sellingPoints | filter:{evergreen: false} | filter:{subtab: (prem.params.subName | getItByThat:data.subtabs:'id':'url')}" >
        <li>{{point.point}}</li>
    </ul>
</div>